:root {
  --btn-effect-color: rgba(94, 255, 0, 0.4);
  --color-primary-white: rgb(255, 255, 255);
  --color-primary-black: rgb(35, 35, 35);
  --color-primary-orange: rgb(255, 166, 0);
  --color-border-products: rgb(229, 229, 229);
  --background-filter-cat: 0deg, rgba(35, 35, 35, 0.6),
    rgba(35, 35, 35, 0) 150px, rgba(35, 35, 35, 0);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  // defines what 1 rem is
  font-size: 62.5%; // 1 rem = 10px/16px = 62.5%

  @include respond(tab-land) {
    font-size: 75%; // 1 rem = 12px, 12/16 = 75%
  }

  @include respond(tab-port) {
    font-size: 60%;
  }

  @include respond(phone) {
    font-size: 55%;
  }
}

body {
  background-color: rgb(238, 238, 238);
  font-family: "Roboto", sans-serif;
}
