.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  padding: 20rem;
  min-height: 89vh;

  &__social {
    display: flex;
    gap: 7rem;
    font-size: 8rem;

    &-link {
      cursor: pointer;
      color: $color-primary-black;
      text-decoration: none;
      animation: moveInLeft 1s ease-out;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__address {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    animation: moveInRight 1s ease-out;
  }
}
