.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  padding: 20rem;
  min-height: 89vh;

  @include respond(phone) {
    padding: 4rem;
  }

  &__social {
    display: flex;
    gap: 5rem;
    font-size: 8rem;

    @include respond(tab-port) {
      font-size: 6rem;
    }

    @include respond(phone) {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      font-size: 7rem;
    }

    &-link {
      cursor: pointer;
      color: $color-primary-black;
      text-decoration: none;
      animation: moveInLeft 1s ease-out;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__address {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    animation: moveInRight 1s ease-out;
  }
}
