.home {
  min-height: 80vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(35, 35, 35, 0.8)
    ),
    url(../../components/images/main-home.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);

  @include respond(tab-port) {
    clip-path: none;
  }

  &__text-box {
    @include pos-absolute-center;
  }

  &__heading-primary-box {
    color: var(--color-primary-white);
    text-transform: uppercase;
    margin-bottom: 60px;
    text-shadow: 5px 5px 10px var(--color-primary-black);
  }

  &__heading-primary {
    display: block;
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: 6px;
    animation: moveInLeft 1s ease-out;

    @include respond(phone) {
      font-size: 3rem;
    }
  }

  &__heading-sub {
    display: block;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 20px;
    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      font-size: 2.5rem;
    }
  }
}

.home__prom {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  padding: 3rem;

  @include respond(phone) {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &-btn {
    border-radius: 3px;
    margin-bottom: 2rem;
    text-decoration: none;
    background-color: var(--color-primary-black);
    color: var(--color-primary-white);
    padding: 20px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    width: 40%;
    transition: color 0.3s ease-in-out;

    @include respond(phone) {
      width: 100%;
    }

    &:hover {
      @include primary-hover;
    }
  }
}

.home__cat {
  display: flex;
  justify-content: space-evenly;
  gap: 9rem;
  padding: 3rem;

  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 3rem;
  }

  &-box {
    border-radius: 3px;
    background-position: top;
    background-size: cover;
    height: 35rem;
    flex: 1;
    max-width: 40rem;
    transition: all 0.3s ease-in-out;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;

    @include respond(tab-port) {
      width: 40rem;
    }

    @include respond(phone) {
      width: 95%;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0px 10px 20px rgba(35, 35, 35, 0.2);
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0px 5px 10px rgba(35, 35, 35, 0.2);
    }
  }

  &-link {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-primary-white);
    height: 100%;
    width: 100%;
    position: relative;

    @include respond(tab-port) {
      height: 30rem;
    }

    &-desc {
      position: absolute;
      width: 100%;
      bottom: 1rem;
      font-size: 2rem;
    }
  }

  &-women {
    background-image: linear-gradient(var(--background-filter-cat)),
      url(../../components/images/shop-women.webp);
  }

  &-men {
    background-image: linear-gradient(var(--background-filter-cat)),
      url(../../components/images/shop-men.webp);
  }

  &-kids {
    background-image: linear-gradient(var(--background-filter-cat)),
      url(../../components/images/shop-kids.jpeg);
  }
}
