.btn-black {
  background-color: $color-primary-black;
  color: $color-primary-white;
  border: none;
  width: 70%;
  align-self: center;
  border-radius: 3px;
  font-size: 1.1rem;
  padding: 5px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &:hover {
    @include primary-hover;
  }
}
