$color-primary-black: #232323;
$color-primary-white: rgb(255, 255, 255);
$color-primary-hover: rgb(255, 166, 0);
$color-border-products: rgb(229, 229, 229);
$backgroun-filter-cat: 0deg, rgba(35, 35, 35, 0.6), rgba(35, 35, 35, 0) 150px,
  rgba(35, 35, 35, 0);
