.footer {
  position: fixed;
  bottom: 0;
  background-color: var(--color-primary-black);
  width: 100%;
  padding: 1.5rem;
  color: var(--color-primary-white);
  text-align: center;
  font-size: 1.3rem;

  @include respond(phone) {
    padding: 5px;
  }
}
