.shop__product-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 4rem;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border: 1px solid var(--main-border-products);
  border-radius: 10px;
  background-color: var(--main-white);
  box-sizing: border-box;
}

.product-desc-top {
  padding: 20px;
  margin: 0 auto;
  height: 150px;
  box-sizing: border-box;
}

.product-desc-bottom {
  border-top: 1px solid var(--main-border-products);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.product-add-to-cart,
.order-btn {
  background-color: var(--main-black);
  color: var(--main-white);
  border: none;
  width: 70%;
  align-self: center;
  border-radius: 3px;
  font-size: 1.1rem;
  padding: 5px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.product-add-to-cart:hover,
.order-btn:hover {
  color: var(--main-hover);
  text-decoration: underline;
}
