@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root {
  --main-black: #232323;
  --main-white: rgb(255, 255, 255);
  --main-hover: rgb(255, 166, 0);
  font-family: "Roboto", sans-serif;
  --main-border-products: rgb(229, 229, 229);
}

body {
  margin: 0;
  background-color: rgb(238, 238, 238);
}

/* HEADER */

.main-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-white);
  background-color: var(--main-black);
  padding: 0 1rem;
}

.main-header__logo {
  font-size: 1.2rem;
}

.main-header__right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
}

.main-header__nav-link {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--main-white);
}

.main-header__nav-link:hover {
  text-decoration: underline;
  color: var(--main-hover);
}

/* APP */

.home-main {
  margin-top: 8rem;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.home-main__left {
  font-size: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-main__img {
  border-radius: 30px;
  border: 2px solid black;
  box-shadow: 4px 4px 4px black;
}

.home-main__shop-btn {
  text-decoration: none;
  background-color: black;
  color: white;
  font-size: 2rem;
  padding: 20px;
  border-radius: 30px;
  margin-top: 2rem;
}

.home-main__shop-btn:hover {
  text-decoration: underline;
  color: var(--main-hover);
}

/* PRODUCTS */

.shop__product-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 4rem;
  max-width: 140rem;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border: 1px solid var(--main-border-products);
  border-radius: 10px;
  background-color: var(--main-white);
  width: 25%;
}

.product-desc-top {
  padding: 20px;
  margin: 0 auto;
  height: 180px;
  box-sizing: border-box;
}

.product-desc-bottom {
  border-top: 1px solid var(--main-border-products);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-img {
  display: block;
  width: 100%;
  height: 100%;
}

.product-add-to-cart,
.order-btn {
  background-color: var(--main-black);
  color: var(--main-white);
  border: none;
  width: 70%;
  align-self: center;
  border-radius: 3px;
  font-size: 1.1rem;
  padding: 5px;
  cursor: pointer;
}

.product-add-to-cart:hover,
.order-btn:hover {
  color: var(--main-hover);
  text-decoration: underline;
}

/* CART */

.shopping-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 5rem 0;
  line-height: 0;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  box-sizing: border-box;
  gap: 1rem;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-item {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: var(--main-white);
  text-align: right;
  border: 1px solid var(--main-border-products);
}

.cart-item__left {
  padding: 20px;
}

.cart-item__right {
  box-sizing: border-box;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.cart-item-img {
  height: 80px;
  width: 100px;
}

.remove-item-btn {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.total-price-cart {
  border: 1px solid var(--main-border-products);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: var(--main-white);
  box-sizing: border-box;
  padding: 1.5rem;
}

.sub-total,
.shipping {
  display: flex;
  justify-content: space-between;
}

.shipping {
  border-bottom: 2px solid var(--main-border-products);
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.empty-shopping-cart {
  height: 40rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.empty-cart-msg {
  border: 1px solid var(--main-border-products);
  background-color: var(--main-white);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

/* FOOTER */

.main-footer {
  position: fixed;
  bottom: 0;
  background-color: var(--main-black);
  width: 100%;
  padding: 0.5rem;
  color: var(--main-white);
  text-align: center;
}
